
.divleft
{
    height: 200px;
    width: 201px;
    position: absolute;
    left: 0px;
    top: 21px;
    margin: 0px;
    padding: 2 px;
    
    
}
.logo
{
    position: absolute;
    top: 3px;
    left: 0px;
    width:201px;
    height:190px;
    z-index: 1;
}

.divleftnav 
{
    position: absolute;
    top: 200px;
    height: 420px;
    width: 200px;
    margin: 0px;
    padding: 2px;
    left: 0px;
    background-color: rgb(49, 49, 49);
    text-align: center;
}

.divleftnav2 
{
    position:absolute;
    top: 620px;
    left: 0px;
    height: 296px;
    width: 202px;
    margin:0px;
    padding: 2px;
    background-color: rgb(49, 49, 49);
    
  }
  .divleftnav2 a
  {
    font-size: medium;
    font-family: 'Red Hat Display', sans-serif;
    text-align: left;
    color: rgb(110, 110, 110);
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    top:-60px;
    left:0px;
  }


}




.divright2
{
    position:absolute;
    top: 620px;
    left: 15px;
    height: 300px;
    width: 1955;
    margin:0px;
    padding: 0px;
    background-color: rgb(49, 49, 49);
      
}
.divright
{
    height: 600px;
    width: 1710px;
    position: absolute;
    left: 201px;
    top: 21px;
    margin: 0px;
    padding: 0 px;
 
 
}
.headerimagetruck
{
    overflow: hidden;
    height:600px;
}

.divrighttext1
{
    height: 250px;
    width: 370px;
    position: absolute;
    left: 100px;
    top: 80px;
    margin: 1px;
    padding: 5px;
    background-color:rgba(253, 251, 251, 0.644);
    color: rgb(78, 72, 72);
    text-align:left ; 
    border-radius: 8px 8px 8px 8px;
    border: black solid 4 px;
    place-content: center;
    font-family: 'Red Hat Display', sans-serif;
    display: grid;
    
}

.divrighttext2
{
    height: 80px;
    width: 300px;
    position: absolute;
    left: 1100px;
    top: 400px;
    margin: 0px;
    padding: 4 px;
    background-color: rgba(253, 251, 251, 0.644);
    color: rgb(70, 69, 69);
    border-radius: 8px 8px 8px 8px;
    border: black solid 4 px;
    font-family:'Red Hat Display' , sans-serif;
    display: grid;
    place-content: center;

}

.headerbutton1
{
    display: inline-block;
    padding: .3em;
    border:1 px solid rgb(170, 169, 169);
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    color: rgb(31, 31, 31);
    text-align: center;
    transition: all .2s;
    z-index: 1;
    font-size: xx-large;
}
a.headerbutton1:hover
{
    color:rgb(16, 87, 7);
    border: rgb(16, 87, 7) solid 2px;
}


.divrightsocial
{
    height: 30px;
    width: 125px;
    position: absolute;
    left: 1625px;
    top: 535px;
    margin: 0px;
    padding: 2 px;
    background-color:rgba(165, 42, 42, 0);
}
a.navlinks1
{
    display: inline-block;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    font-size: larger;
    color: rgb(110, 110, 110);
    position: relative;
    top: 40px
}
a.navlinks1:hover
{
    color:rgb(16, 87, 7);
    border: rgb(16, 87, 7) solid 2px;
    place-content: center; 
}

.sx9:hover
{
    color:rgb(16, 87, 7);
    border: rgb(16, 87, 7) solid 2px;
}
.sx9 a:hover
{
    color:rgb(16, 87, 7);
    border: rgb(16, 87, 7) solid 2px;
}

.divleftnav2
{
    text-align: left;
    position:absolute;
    margin:0px;
    padding: 4px;
    background-color: rgb(49, 49, 49);
    font-family: 'Red Hat Display', sans-serif;
    font-size: small;
    top:622px;
    left:0px;
    height:300px;
    width:300px
}


.divright2
{
    position:absolute;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(110, 110, 110);
    top:620px
    

}
.divright2 ul
{
    border:rgba(245, 255, 250, 0.116) 3px solid;
    width:200px;
    font-size: medium;
    list-style-type:none;
    font-family: 'Red Hat Display', sans-serif;
    font-size: large;
    background-color: rgb(49, 49, 49);

}
.divright2 a
{
    color: rgb(110, 110, 110);
    font-size:large;
    text-decoration: none
    background-color: rgb(49, 49, 49);

}
.lowerlinks2
{
    position:absolute;
    top:70px;
    left:700px;
    background-color: rgb(49, 49, 49);
}
.lowerlinks2 ul
{
    border:rgba(245, 255, 250, 0.116) 3px solid;
    background-color: rgb(49, 49, 49);
}
.sx9l
{
    top:25px;
    left:790px;
    position: absolute;
    background-color: rgb(49, 49, 49);
}
.sx9l:hover
{
    color:rgb(16, 87, 7);
    border: rgb(16, 87, 7) solid 2px;
}
.sx9
{
    text-align: center;
    top:12px;
    left: 80px;
    position: absolute;
    background-color: rgb(49, 49, 49);
}
.sx9 a :hover
{
    color:rgb(16, 87, 7);
    border: rgb(16, 87, 7) solid 2px;  
}
.sx10l
{
    margin-left: auto;
    position:absolute;
    top: 60px;
    font-size: large;
    left:-100px
}
.sx10 
{
    position: absolute;
    top:10px;
    left:1299px;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(110, 110, 110);
    background-color: rgb(49, 49, 49);
}
.sx10link
{
    position: absolute;
    left:-10px;
    top:15px;
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(49, 49, 49);

}
.sx9 a
{
    left:280px;
    position: absolute;
    top:10px;
    text-align: center;
    background-color: rgb(49, 49, 49);
}

.productdiv
{
    background-color: rgba(1, 12, 2, 0.829);
    height:200px;
    width:1955px;
    position:absolute;
    top:290px;
    left:-1350px
}
.divider
{
    background-color: rgba(2, 8, 4, 0.938);
    height:10px;
    width:1955px;
    position:absolute;
    top:0px
}

.footer2 a
{
    background-color: rgba(243, 236, 236, 0);
    height:20px;
    width:100px;
    top:170px;
    position: absolute; 
    text-align: center
}
.bottomlink1
{
    position: absolute;
    left: 750px;
    top:105px;
    Width:100px;
}
.bottomlink2
{
    position: absolute;
    top:105px;
    left:900px
}
.bottomlink3
{
    position: absolute;
    top:105px;
    left:1050px
}
.divider2
{
    background-color: rgba(2, 8, 4, 0.301);
    height:10px;
    width:1915px;
    position:absolute;
    top:150px
}
.smallinfolinks
{
    position:absolute;
    top:0px;
    left: 640px
}
.smallinfolinks li
{
    padding-bottom: 3px;
}
.smallinfolinks2
{
    position:absolute;
    top:0px;
    left: 1190px
}

.smallinfolinks2 li
{
    padding-bottom: 3px;
}

.lowerlinks1 
{
    position: absolute;
    top:70px;
    left:290px;
    background-color: rgb(49, 49, 49);
}
.sx10link:hover
{
    color:rgb(16, 87, 7);
    border: rgb(16, 87, 7) solid 2px;
}
.exp
{
    height:300px;
    width:1707px;
    position: absolute;
    top: -300px;
    left: 248px;
    background-color:rgb(49, 49, 49);
    z-index: -1;
}
.button
{
    padding:3px;
}



@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');